<h2>Added New Clinic</h2>

 <h4>Name:</h4><span><%= @clinic.name %></span><br>
 <h4>Hours:</h4><%= @clinic.hours %><br></br>

 <%= link_to 'Edit', edit_clinic_path %>
 <%= link_to 'Delete', @clinic, method: :delete, remote: true, data: {confirm: 'Are you sure?'} %>
