<h1>Login</h1>

<!-- add user modal feature -->

<%= form_for(:session, url: login_path) do |f| %>
  <label for="">Email</label><br>
  <%= f.text_field :email %><br>
  <label for="">Password</label><br>
  <%= f.password_field :password %><br>

  <div>
    <%= f.submit 'Login' %>
  </div>
<% end %>
