
<table class="cohort-table">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Coach Name</th>
  </tr>
    <% @cohort.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.start_date %></td>
    <td><%= c.end_date %></td>
    <td><%= c.coach.first_name %></td>
  </tr>
    <% end %>
</table>
