<div class="wrapper">
  <div class="content">
    <div class="row top">
      <div class="column-6 cohorts"></div>
      <div class="column-6 coaches"></div>
    </div>
    <div class="row bottom">
      <div class="column-6 clinics"></div>
      <div class="column-6 players"></div>
    </div>
  </div>
</div>
