<div class="wrapper">
  <div class="content">

    <div class="row pri-top">
      <div class="column"><h4>Cohorts</h4></div>
      <div class="column-6"><h4>Coaches</h4></div>
    </div>
    <div class="row sec-top">
      <div class="column-6 cohorts">
        <a href="/cohorts">
          <img src="https://static1.squarespace.com/static/598ca4438419c2429eea8e2a/t/5c05a38b40ec9a31f9722433/1543873446269/IMG_1425.jpg?format=750w" alt="cohorts">
        </a>
      </div>
      <div class="column-6 coaches">
        <a href="/coaches">
          <img src="https://www.ussquash.com/wp-content/uploads/2012/07/coach.png" alt="coaches">
        </a>
      </div>
    </div>

    <div class="row pri-bottom">
      <div class="column"><h4>Clinics</h4></div>
      <div class="column-6"><h4>Players</h4></div>
    </div>
    <div class="row sec-bottom">
      <div class="column-6 clinics">
        <a href="/clinics">
          <img src="https://data.englandsquash.com/files?fileName=313e6dd1-c172-46f2-a479-4b8ba4070c7f.jpg" alt="coaches">
        </a>
      </div>
      <div class="column-6 players">
        <a href="/players">
          <img src="http://pharaohsquash.com/2017photos2/nation207.jpg" alt="coaches">
        </a>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/assets/pages.css">
