<div class="players-container">
  <div class="row">
    <div class="column">Players: 2019 Squash Season</div>
      <!-- add cohort signup button -->
    <div class="column">Testing</div>
  </div>
  <table class="players-table">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <% @player.each do |p| %>
    <tr class="player-trows">
      <td><%= link_to p.id, p %></td>
      <td><%= p.first_name %></td>
      <td><%= p.last_name %></td>
    </tr>
    <% end %>
  </table>

</div>
