// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CLINIC SIGNUP MODAL
.main-container {
  display: flex;
  justify-content: center;
}

//TRIGGER BTN
.add-clinic-btn {
  position: relative;
  background-color: #618934 !important;
  font-family: 'Oswald', sans-serif;
  border-color: #618934;
  font-size: 1em;
  padding: 5px;
    &:hover {
       background-color: #7D9E58 !important;
       color: white;
       box-shadow: .5px 2px black !important;
  }
}

.clinic-header {
  position: relative;
  left: 2.5pc;
  font-size: 1.5pc;
  font-weight: bold;
  color: whitesmoke !important;
}

.hr-break-4 {
  width: 99%;
  position: absolute;
  border-color: black !important;
  top: 1pc;
}

#clinic-modal {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.clinic-body {
  position: relative;
  background-color: red;
  top: 6pc;
  height: 42%;
  width: 125%;
  border-radius: 10px;
}

.clinic-form {
  position: relative;
  left: 1.5pc;
  top: 1pc;
  color: whitesmoke;
}

.clinic-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.clinic-body input {
  width: fit-content !important;
  margin-bottom: 1 !important;
  border-color: black !important;
  border-radius: 5px;
}

.clinic-submit-btn {
  position: relative;
  left: 3.8pc;
  height: 2pc;
  font-size: .8pc !important;
  line-height: 0 !important;
  background-color: black !important;
  border-color: transparent !important;
    &:hover {
      background-color: white !important;
      color: black !important;
  }
}

.cancel-link-4 {
  position: relative;
  left: 6pc;
  top: .3pc;
  color: black !important;
    &:hover {
      opacity: .5;
  }
}

// DATA TABLE
.wrapper {
  padding: 10% 15%;
}

.clinic-table-head {
  font-size: 2em;
  font-weight: bold;
}

.clinics-table {
  width: 100%;
  background-color: white;
  border-radius: 5px;
}

.clinics-table tr:nth-child(even) {
  background-color: #E8D5AB;
}

.clinic-trows, a, td, th {
  color: black !important;
  border-color: black !important;

}

// PROFILE
.clinic-card {
  position: relative;
  float: right;
  width: 25%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.clinic-card-name {
  display: grid;
  justify-content: center;
}
