// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CLINIC SIGNUP MODAL
$import: !important;

.main-container {
  display: flex;
  justify-content: center;
}

.clinic-header {
  position: relative;
  left: 2.5pc;
  font-size: 1.5pc;
  font-weight: bold;
  color: whitesmoke $import;
}

.hr-break-4 {
  width: 99%;
  position: absolute;
  border-color: black $import;
  top: 1pc;
}

#clinic-modal {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.clinic-body {
  position: relative;
  background-color: red;
  top: 6pc;
  height: 42%;
  width: 125%;
  border-radius: 10px;
}

.clinic-form {
  position: relative;
  left: 1.5pc;
  top: 1pc;
  color: whitesmoke;
}

.clinic-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.clinic-body input {
  width: fit-content $import;
  margin-bottom: 1 $import;
  border-color: black $import;
  border-radius: 5px;
}

.clinic-submit-btn {
  position: relative;
  left: 3.8pc;
  height: 2pc;
  font-size: .8pc $import;
  line-height: 0 $import;
  background-color: black $import;
  border-color: transparent $import;
    &:hover {
      background-color: white $import;
      color: black $import;
  }
}

.cancel-link-4 {
  position: relative;
  left: 6pc;
  top: .3pc;
  color: black $import;
    &:hover {
      opacity: .5;
  }
}

// DATA TABLE
.clinics-table {
  width: 100%;
}

.clinics-table tr:nth-child(even) {
  background-color: #E8E8E8;
}

.clinic-trows, a, td, th {
  color: black $import;
  border-color: black $import;

}
