// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CLINIC SIGNUP MODAL
.main-container {
  display: flex;
  justify-content: center;
}

.add-clinic-btn {
  position: relative;
  background-color: #618934 !important;
  font-family: 'Oswald', sans-serif;
  border-color: #618934;
  font-size: 1em;
  padding: 5px;
    &:hover {
       background-color: #7D9E58 !important;
       color: #F4F4F4;
       box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
       0 13px 6px -7px rgba(43,43,43,0.1) !important;
  }
}

.clinic-header {
  position: relative;
  text-align: center;
  font-size: 1.5pc;
  font-weight: bold;
  color: #E8C547 !important;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 13px 6px -7px rgba(43,43,43,0.1) !important;
}


#clinic-modal {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.clinic-body {
  position: relative;
  background-color: #F4F4F4;
  top: 7em;
  height: 42%;
  width: 125%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 18px 6px -7px rgba(43,43,43,0.1);
}

.clinic-form {
  position: relative;
  left: 1.5pc;
  top: 1pc;
  color: #2D2A1B;
}

.clinic-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.clinic-body input {
  width: fit-content !important;
  margin-bottom: 1 !important;
  border-radius: 5px;
  background-color: #F4F4F4;
}

.clinic-submit-btn {
  position: relative;
  left: 3.8pc;
  height: 2pc;
  font-size: .8pc !important;
  line-height: 0 !important;
  color: #2D2A1B !important;
  background-color: #F4F4F4 !important;
  border-color: #F4F4F4 !important;
    &:hover {
      background-color: #E8C547 !important;
      border-color: #E8C547 !important;
      color: #2D2A1B !important;
  }
}

.cancel-link-4 {
  position: relative;
  left: 6em;
  top: .3em;
  font-weight: bold !important;
  color: #2D2A1B !important;
    &:hover {
      color: #E8C547 !important;
  }
}

// DATA TABLE
.wrapper {
  padding: 10% 15%;
}

.clinic-table-head {
  font-size: 2em;
  font-weight: bold;
}

.clinics-table {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 13px 6px -7px rgba(43,43,43,0.1);
}

.clinics-table tr:nth-child(even) {
  background-color: #E8C547;
}

.clinic-trows, a, td, th {
  color: black !important;
  border-color: black !important;

}

// PROFILE
.clinic-wrapper {
  display: grid;
  justify-content: center;
}
.clinic-card {
  position: relative;
  width: 15em;
  top: 2em;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.clinic-card-name {
  display: grid;
  justify-content: center;
}

.clinic-delete-btn {
  background-color: #2D2A1B !important;
  border-color: #2D2A1B!important;
  font-size: 1em !important;
  color: #E8C547 !important;
  padding: .5em 2em !important;
  font-weight: bold;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif!important;
    &:hover {
       background-color: #E8C547!important;
       border-color: #E8C547!important;
       color: #2D2A1B!important;
       box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
       0 15px 6px -7px rgba(43,43,43,0.1);
 }
}

.clinic-edit-btn {
  position: relative;
  background-color: #2D2A1B !important;
  border-color: #2D2A1B!important;
  font-size: 1em !important;
  color: #E8C547 !important;
  top: .1em;
  padding: 0 2em !important;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif!important;
    &:hover {
       background-color: #E8C547!important;
       border-color: #E8C547!important;
       color: #2D2A1B!important;
       box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
       0 15px 6px -7px rgba(43,43,43,0.1);
 }
}
