// Place all the styles related to the Coaches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SIGNUP MODAL
.modal-container {
  display: flex;
  justify-content: center;
}

.add-coach-btn {
  position: relative;
  background-color: #618934 !important;
  font-family: 'Oswald', sans-serif;
  border-color: #618934;
  font-size: 1em;
  padding: 5px;
    &:hover {
       background-color: #7D9E58 !important;
       color: #F4F4F4;
       box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
       0 11px 6px -7px rgba(43,43,43,0.1) !important;
  }
}

.coach-header {
  position: relative;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: #E8C547 !important;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 13px 6px -7px rgba(43,43,43,0.1) !important;
}


#coach-modal {
  position: fixed;
  display: none;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.coach-body {
  position: relative;
  background-color: #F4F4F4;
  top: 10%;
  height: 80%;
  width: 130%;
  border-radius: 10px;
}

.coach-form {
  position: relative;
  left: 2em;
  color: #2D2A1B;
}

.coach-body input {
  width: fit-content !important;
  margin-bottom: 1 !important;
  border-radius: 5px;
}

.coach-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.coach-select-field {
  width: fit-content !important;
  margin-bottom: .5pc;
  padding-right: 1.5pc;
  border-color: black !important;
  color: #2D2A1B !important;
}

.coach-submit-btn {
  position: relative;
  left: 30%;
  height: 2em;
  font-family: 'Oswald', sans-serif !important;
  margin-top: -25px;
  font-size: .9em !important;
  line-height: 0 !important;
  color: #2D2A1B !important;
  background-color: #F4F4F4 !important;
  border-color: #F4F4F4 !important;
    &:hover {
      background-color: #E8C547 !important;
      border-color: #E8C547 !important;
      color: #2D2A1B !important;
  }
}

.cancel-link-3 {
  position: relative;
  left: 43%;
  top: -5px;
  color: black !important;
  font-weight: bold;
    &:hover {
      color: whitesmoke !important;
      font-weight: bold;
  }
}

// DATA TABLE
.wrapper {
  padding: 10% 15%;
}

.coaches-table-head {
  font-size: 2em;
  font-weight: bold;
}

.coaches-table {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 15px 6px -7px rgba(43,43,43,0.1);
}

.coaches-table tr:nth-child(even) {
  background-color: #E8C547;
}

.coach-trows, a, td, th {
  color: black !important;
  border-color: black !important;

}

// PROFILE
.coach-card {
  position: relative;
  float: right;
  width: 25%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.coach-card-name {
  display: grid;
  justify-content: center;
}
