// Place all the styles related to the Cohort controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
}

.cohort-header {
  padding-right: 1.5pc;
  padding-left: 1.5pc;
}

.hr-break-2 {
  width: 99.5%;
  position: absolute;
  top: 3pc;
}

#cohort-modal {
  position: fixed;
  display: none;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.cohort-body {
  position: relative;
  background-color: red;
  top: 3pc;
  height: 68%;
  width: 100%;
  border-radius: 10px;
}

.cohort-form, .submit-btn-2 {
  position: relative;
  left: 6pc;
}

input {
  border-radius: 5px;
}
