// Place all the styles related to the Cohort controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SIGNUP MODAL
.modal-container {
  display: flex;
  justify-content: center;
}

.add-cohort-btn {
  position: relative;
  background-color: #618934 !important;
  border-color: #618934;
  left: 85%;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding: 5px;
    &:hover {
       background-color: #7D9E58 !important;
       color: white;
       box-shadow: .5px 2px black !important;
  }
}

.cohort-header {
  padding-right: 1.5em;
  padding-left: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: whitesmoke !important;
}

.hr-break-2 {
  width: 99.5%;
  position: absolute;
  border-color: black !important;
  top: 1pc;
}

#cohort-modal {
  position: fixed;
  display: none;
  top: 0;
  z-index: 1;
  height: 100%;
  min-width: 150%;
  background-color: rgba(0,0,0,0.4);
}

.cohort-body {
  position: relative;
  background-color: red;
  top: 3.5pc;
  height: 73%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px;
}

.cohort-form {
  position: relative;
  left: 3.5pc;
  color: whitesmoke;
}

.cohort-body input {
  width: fit-content !important;
  margin-bottom: 0 !important;
  border-color: black !important;
  border-radius: 5px;
}

.cohort-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.cohort-select-field {
  width: fit-content !important;
  margin-bottom: .5pc;
  padding-right: 1.5pc;
  border-color: black !important;
  color: whitesmoke !important;
}


.cohort-submit-btn {
  position: relative;
  left: 5pc;
  margin-top: -10px;
  height: 2pc;
  font-size: .8pc !important;
  line-height: 0 !important;
  background-color: black !important;
  border-color: transparent !important;
    &:hover {
      background-color: white !important;
      color: black !important;
  }
}

.cancel-link-2 {
  position: relative;
  left: 7pc;
  top: .5pc;
  color: black !important;
  font-weight: bold;
    &:hover {
      color: whitesmoke !important;
      font-weight: bold;
  }
}

// ALL COHORTS TABLE
.wrapper {
  padding: 10% 15%;
}

.cohorts-table-head {
  font-size: 2em;
  font-weight: bold;
}

.cohorts-table {
  min-width: 115%;
  min-height: 100%;
  background-color: white;
  border-radius: 5px;
}

.cohorts-table tr:nth-child(even) {
  background-color: #E8E8E8;
}

.cohorts-trows, a, td, th {
  color: black !important;
  border-color: black !important;
}

// PROFILE
.profile-wrapper {
  padding: 11% 13.5%;
}

.wrapper-card {
  min-width: 116.5%;
}

.cohort-card {
  position: relative;
  float: right;
  width: 25%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.cohort-card-name {
  display: grid;
  justify-content: center;
}

.hr-card {
  border-color: black !important;
  margin: 1.5rem 3rem !important;
}

.row-card {
  margin-top: 1.5rem;
}

.table-wrapper {
  width: 85%;
}

.cohort-table {
  background-color: white;
  border-radius: 5px;
  min-width: 100%;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.cohort-table tr:nth-child(even) {
  background-color: #E8E8E8;
}
