// Place all the styles related to the Cohort controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
}

.hr-break {
  width: 89%;
  position: absolute;
  top: 3pc;
}

#cohort-modal {
  position: fixed;
  display: none;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-body {
  position: relative;
  background-color: red;
  top: 3pc;
  height: 65%;
  padding-left: 6%;
  padding-right: 6%;
  border-radius: 10px;
}

.form, .submit-btn {
  position: relative;
  left: 4.5pc;
}

input {
  border-radius: 5px;
}
