// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DASHBOARD SECTION
.wrapper {
  position: relative;
  top: 0;
  min-height: 100vh;
}

.bottom {
  position: relative;
  top: 1.5em
}

.content {
  display: grid;
  justify-content: center;
  min-height: 100%;

}

.cohorts, .coaches, .clinics, .players {
  background-color: #2D2A1B;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.coaches, .players {
  position: relative;
  left: 1.5em;
}

.clinics, .cohorts {
  position: relative;
  right: 1.5em;
}

// ENTRY PAGE
#bg {
  background-image: url('/assets/bg-img2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
