// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DASHBOARD SECTION
.wrapper {
  position: relative;
  top: 0;
  min-height: 100vh;
}

.content {
  display: grid;
  justify-content: center;
  min-height: 100%;

}

.pri-bottom {
  position: relative;
  top: 2em;
}

.sec-bottom {
  position: relative;
  top: 1.5em
}


.cohorts, .coaches, .clinics, .players, img {
  border-radius: 50%;
  height: 225px;
  width: 225px;
   &:hover {
     transform: scale(1.06, 1.06);
     transition-duration: .8s;

  }
}

.coaches, .players {
  position: relative;
  left: 1.5em;
}

.clinics, .cohorts {
  position: relative;
  right: 1.5em;
}

// ENTRY PAGE
#bg {
  background-image: url('/assets/bg-img2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  zoom: 95%; 
}
