// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// DASHBOARD SECTION
.wrapper {
  position: relative;
  top: 0;
  min-height: 100vh;
}

.content {
  max-height: 100%;
  padding: 10% 17%;
}

// ENTRY PAGE
#bg {
  background-image: url('/assets/bg-img2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
