// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////// styling for the player signup modal

#player-modal {
  position: fixed;
  display: none;
  z-index: 1;
  height: 50%;
  width: 25%;
  background-color: whitesmoke;

}
