// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PLAYER SIGNUP MODAL
$import: !important;


.main-container {
  display: flex;
  justify-content: center;
}

.player-header {
  position: relative;
  font-size: 1.5pc;
  font-weight: bold;
  color: whitesmoke $import;
  left: 2.5pc;
}

.hr-break-1 {
  width: 100%;
  position: absolute;
  border-color: black $import;
  top: 1pc;
}

#player-modal {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.player-body {
  position: relative;
  background-color: red;
  top: 4.5pc;
  height: 73%;
  width: 125%;
  border-radius: 10px;
}

.player-form {
  position: relative;
  left: 2.5pc;
  color: whitesmoke;
}


.player-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.player-body input {
  border-radius: 5px;
  width: fit-content $import;
  margin-bottom: 0 $import;
  border-color: black $import;
}

.select-field {
  width: fit-content $import;
  margin-bottom: .5pc;
  padding-right: 1.5pc;
  border-color: black $import;
  color: whitesmoke $import;
}

.player-submit {
  position: relative;
  left: 4pc;
  margin-top: -15px;
  height: 2pc;
}

.player-btn {
  background-color: black $import;
  border-color: transparent $import;
}

.player-btn:hover {
  background-color: white $import;
  color: black $import;
}

.cancel-link {
  position: relative;
  left: 6.5pc;
  color: black $import;
  font-weight: bold;
}

.cancel-link:hover {
  opacity: .5;
}
