// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// SIGNUP MODAL
.modal-container {
  display: flex;
  justify-content: center;
}

.add-player-btn {
  position: relative;
  left: 0;
  background-color: #618934 !important;
  border-color: #618934;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
  padding: 5px;
    &:hover {
       background-color: #7D9E58 !important;
       color: white;
       box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
       0 13px 6px -7px rgba(43,43,43,0.1) !important;
  }
}

.player-header {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: #E8C547 !important;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 13px 6px -7px rgba(43,43,43,0.1) !important;
}

#player-modal {
  position: fixed;
  display: none;
  z-index: 1;
  top: 0;
  height: 100%;
  min-width: 150%;
  background-color: rgba(0,0,0,0.4);
}

.player-body {
  position: relative;
  background-color: #F4F4F4;
  top: 10%;
  height: 73%;
  width: 125%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
  -webkit-transition: all .7s ease-in;
  opacity: 0;
}

.player-form {
  position: relative;
  left: 2.5pc;
  color: #2D2A1B;
}

.player-label {
  margin: 0;
  line-height: 0;
  display: inline-block;
}

.player-body input {
  border-radius: 5px;
  width: fit-content !important;
  margin-bottom: 0 !important;
}

.player-select-field {
  width: fit-content !important;
  margin-bottom: .5pc;
  padding-right: 1.5em;
  border-color: black !important;
  color: #2D2A1B !important;
}

.player-submit-btn {
  position: relative;
  left: 28%;
  margin-top: -10px;
  height: 2em;
  font-size: .9em !important;
  line-height: 0 !important;
  background-color: #F4F4F4 !important;
  color: #2D2A1B !important;
  border-color: #F4F4F4 !important;
    &:hover {
      background-color: #E8C547 !important;
      border-color: #E8C547 !important;
      color: #2D2A1B !important;
  }
}

.cancel-link-1 {
  position: relative;
  left: 6.9em;
  top: .5em;
  color: #2D2A1B !important;
  font-weight: bold;
    &:hover {
      color: whitesmoke !important;
      font-weight: bold;
  }
}

// DATA TABLE
.wrapper {
  padding: 10% 15%;
}

.player-table-head {
  font-size: 2em;
  font-weight: bold;
}

.players-table {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 15px 6px -7px rgba(43,43,43,0.1);
}

.players-table tr:nth-child(even) {
  background-color: #E8C547;
}

.player-trows, a, td, th {
  color: black !important;
  border-color: black !important;
}

// PLAYER PROFILE
.player-card {
  position: relative;
  float: right;
  width: 25%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),
  0 11px 6px -7px rgba(43,43,43,0.1);
}

.player-card-name {
  display: grid;
  justify-content: center;
}
