<div class="nav-container">
  <div id="top-bar">
   <% if logged_in? %>
    <div class="row">
      <div class="column"><h2 class="logo">RAILS SQUASH ACADEMY</h2></div>
      <div class="column-6"><%= link_to 'Profile', current_user %></div>
      <div class="column-6"><%= link_to 'Logout', logout_path, method: :delete %></div>
    </div>
   <% else %>
   <div class="row">
     <div class="column"><h2 class="logo">RAILS SQUASH ACADEMY</h2></div>
     <!-- add paths to all indexes -->
      <div class="column-6"><h5><%= link_to 'Login', pages_home_path %></h5></div>
    </div>
   <% end %>
  </div>

  <div id="side-bar">
    <div class="dash"><a href="/">Dashboard</a></div>
    <div class="profile"><a href="/cohorts">Cohorts</a></div>
    <div class="notify"><a href="/players">Players</a></div>
    <div class="notify"><a href="/coaches">Coaches</a></div>
    <div class="notify"><a href="/clinics">Clinics</a></div>
  </div>
</div>

<script src="/assets/cohorts.js"></script>
